%legend= @link.title
.row-fluid
  .span3
    -unless @link.img.strip.empty?
      =image_tag @link.img, class: 'link_image'
    -else
      =image_tag "link_64.png", class: 'link_image'
  .span9
    %p
      %b URL:
      = link_to @link.url, @link.url
    %p
      %b Description:
    %p= @link.description
    %p
      .tags
        - @link.tags.each do |tag|
          =link_to tag.name,tag_path(tag.name)
%br
- if @link.belongs_to_user? current_user
  = link_to 'Edit', edit_link_path(@link), class: "btn btn-danger"

- if current_user
  = link_to 'Add Comment', '#',:id=>'show-comment-field', class: "btn btn-danger"

%hr
#comments
  = render @comments
%br
#comment-field.hidden
  =form_tag comments_path,:method=>'POST',:id=>'comment-form' do
    = hidden_field_tag "comment[link_id]",@link.id
    = text_area_tag "comment[content]","",:rows=>3,:class=>'rl-comment-field'
    &nbsp;
    = submit_tag "Comment",:class=>'btn btn-inverse',:style=>"margin-top:-45px;",:id=>'submit-comment'


= paginate @comments, theme: "bootstrap"
